@font-face {
  font-family: 'Lato-Regular';
  font-style: normal;
  font-weight: normal;
  src: url("../scss/fonts/Lato-Regular.eot");
  src: url("../scss/fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../scss/fonts/Lato-Regular.woff") format("woff"), url("../scss/fonts/Lato-Regular.ttf") format("truetype"), url("../scss/fonts/Lato-Regular.svg") format("svg"); }

@font-face {
  font-family: 'Lato-Bold';
  font-style: normal;
  font-weight: bold;
  src: url("../scss/fonts/Lato-Bold.eot");
  src: url("../scss/fonts/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("../scss/fonts/Lato-Bold.woff") format("woff"), url("../scss/fonts/Lato-Bold.ttf") format("truetype"), url("../scss/fonts/Lato-Bold.svg") format("svg"); }

@font-face {
  font-family: 'Lato-Light';
  font-style: normal;
  font-weight: 200;
  src: url("../scss/fonts/Lato-Light.eot");
  src: url("../scss/fonts/Lato-Light.eot?#iefix") format("embedded-opentype"), url("../scss/fonts/Lato-Light.woff") format("woff"), url("../scss/fonts/Lato-Light.ttf") format("truetype"), url("../scss/fonts/Lato-Light.svg") format("svg"); }

@font-face {
  font-family: 'Slabo-Regular';
  font-style: normal;
  font-weight: normal;
  src: url("../scss/fonts/Slabo27px-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Slabo-Bold';
  font-style: normal;
  font-weight: normal;
  src: url("../scss/fonts/Slabo27px-Regular.ttf") format("truetype"); }

body {
  font-family: "Lato-Regular", sans-serif; }

body, .vidcontain .homepage-sections .description, .featurette p, .featurette .back, .section-wrapper p, .button-primary, .button-secondary, .footer {
  font-size: 16px; }
  @media (min-width: 992px) {
    body, .vidcontain .homepage-sections .description, .featurette p, .featurette .back, .section-wrapper p, .button-primary, .button-secondary, .footer {
      font-size: 18px; } }

.description-wrapper h2, .vidcontain .header-wrapper h1 {
  font-size: 28px;
  font-family: "Slabo-Regular", Georgia, serif; }
  @media (min-width: 992px) {
    .description-wrapper h2, .vidcontain .header-wrapper h1 {
      font-size: 63px; } }

.sub-page--background h3, .vidcontain .intro h3, .divider, .contact--wrapper h4 {
  font-size: 18px;
  font-family: "Slabo-Regular", Georgia, serif; }
  @media (min-width: 992px) {
    .sub-page--background h3, .vidcontain .intro h3, .divider, .contact--wrapper h4 {
      font-size: 24px; } }

.description-wrapper p, .vidcontain .caption, .vidcontain .homepage-sections .section-title, .featurette .front h4, .featurette .back h4, .top-tips-wrapper .tile h4 {
  font-size: 16px;
  font-family: "Lato-Regular", sans-serif; }
  @media (min-width: 992px) {
    .description-wrapper p, .vidcontain .caption, .vidcontain .homepage-sections .section-title, .featurette .front h4, .featurette .back h4, .top-tips-wrapper .tile h4 {
      font-size: 20px; } }

.description-wrapper p, .vidcontain .caption {
  font-family: "Lato-Light", Arial, sans-serif; }

.featurette h2, .modal-content .modal-title,
.modal-dialog .modal-title,
.modal-lg .modal-title {
  font-size: 28px;
  font-family: "Lato-Light", Arial, sans-serif; }
  @media (min-width: 992px) {
    .featurette h2, .modal-content .modal-title,
    .modal-dialog .modal-title,
    .modal-lg .modal-title {
      font-size: 36px; } }

.section-wrapper h4 {
  font-size: 24px;
  font-family: "Slabo-Regular", Georgia, serif; }

body {
  background-color: #fff;
  color: #707070;
  font-family: "Lato-Regular", sans-serif; }

.no-padding {
  padding: 0; }

.custom-container {
  margin: 0 10%; }

.row-centered {
  text-align: center; }
  .row-centered .col-centered {
    display: block;
    float: none; }
    @media (min-width: 992px) {
      .row-centered .col-centered {
        display: inline-block; } }
  .row-centered .col-right {
    display: inline-block; }
    @media (min-width: 768px) {
      .row-centered .col-right {
        float: none;
        margin-left: -2px; } }
    @media (min-width: 992px) {
      .row-centered .col-right {
        float: right;
        margin-left: 0; } }

.sub-page--background {
  background: url("../Images/footer_lodyas.png") fixed center;
  background-size: contain;
  color: #f0f0f0; }
  .sub-page--background h3 {
    margin: 0 0 30px; }

.ppt {
  display: none; }
  @media (min-device-width: 1200px) {
    .ppt {
      display: block; } }

.pdf {
  display: block; }
  @media (min-device-width: 1200px) {
    .pdf {
      display: none; } }

.description-wrapper {
  text-align: center; }
  .description-wrapper h2 {
    margin: 60px 0 30px; }
  .description-wrapper p {
    margin-bottom: 60px; }

.linkedin,
.email,
.spark {
  display: inline-block; }

.hvr-grow {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  box-shadow: 0 0 1px transparent;
  display: inline-block;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  vertical-align: middle; }

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2); }

.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp; }

.navbar {
  background-color: #fff;
  border: 0;
  border-bottom: 5px solid #eb5050;
  border-radius: 0;
  height: 75px;
  margin-bottom: 0; }
  .navbar .logo {
    margin: 0;
    padding: 15px 0; }
    .navbar .logo img {
      height: 40px; }

.navbar--links {
  margin-top: 10px; }
  .navbar--links .nav > li > a {
    color: #707070; }
    .navbar--links .nav > li > a:hover, .navbar--links .nav > li > a:focus, .navbar--links .nav > li > a:active {
      background-color: #fff;
      color: #eb5050;
      outline: none; }
  .navbar--links .nav > .disabled > a {
    color: #f0f0f0; }
    .navbar--links .nav > .disabled > a:hover, .navbar--links .nav > .disabled > a:focus, .navbar--links .nav > .disabled > a:active {
      color: #f0f0f0; }

.vidcontain {
  background: url("../Images/poster.jpg") no-repeat center;
  background-size: cover;
  margin-top: -1px; }
  .vidcontain .vid {
    display: none;
    overflow: hidden; }
    @media (min-width: 1200px) {
      .vidcontain .vid {
        display: block; } }
  .vidcontain #home-intro-video {
    -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
            transform: scale(1.5); }
  .vidcontain .header-wrapper {
    padding-top: 60px;
    position: relative;
    top: 0; }
    .vidcontain .header-wrapper h1 {
      display: inline-block;
      margin: 0;
      padding: 15px 10px; }
    @media (min-width: 1200px) {
      .vidcontain .header-wrapper {
        position: absolute;
        width: 80%; } }
  .vidcontain .digital {
    background-color: rgba(112, 112, 112, 0.8);
    color: #f0f0f0;
    display: inline-block; }
  .vidcontain .masterclass {
    background-color: rgba(240, 240, 240, 0.8);
    color: #707070;
    display: inline-block;
    margin-left: -3px; }
  .vidcontain .caption {
    color: #f0f0f0;
    margin-bottom: 36px;
    padding-top: 10px; }
    @media (min-width: 1200px) {
      .vidcontain .caption {
        padding: 10px 0;
        width: 550px; } }
  .vidcontain .intro {
    color: #f0f0f0;
    margin-bottom: 30px; }
  .vidcontain .sections-wrapper {
    background-color: rgba(112, 112, 112, 0.8);
    bottom: 0;
    color: #f0f0f0;
    overflow: hidden;
    padding: 30px 0;
    position: relative;
    width: 100%; }
    @media (min-width: 768px) {
      .vidcontain .sections-wrapper {
        padding: 30px 0 0; } }
    @media (min-width: 992px) {
      .vidcontain .sections-wrapper {
        padding: 30px 0; } }
    @media (min-width: 1200px) {
      .vidcontain .sections-wrapper {
        padding: 30px 0;
        position: absolute; } }
  .vidcontain .homepage-sections {
    border-bottom: 1px solid #f0f0f0;
    padding: 30px 0; }
    .vidcontain .homepage-sections .section-title {
      margin-bottom: 20px; }
    .vidcontain .homepage-sections .description {
      font-family: "Lato-Light", Arial, sans-serif;
      margin-bottom: 20px; }
    .vidcontain .homepage-sections:first-child {
      padding-top: 0; }
    .vidcontain .homepage-sections:last-child {
      border-bottom: 0; }
    @media (min-width: 768px) {
      .vidcontain .homepage-sections {
        border-bottom: 0;
        padding: 0 30px 30px; } }
    @media (min-width: 992px) {
      .vidcontain .homepage-sections {
        border-bottom: 0;
        border-left: 1px solid #f0f0f0;
        padding: 0 30px; }
        .vidcontain .homepage-sections:first-child {
          border-left: 0;
          padding-left: 0; } }

.divider {
  background-color: #707070;
  color: #f0f0f0;
  padding: 10px;
  text-align: center;
  z-index: 2; }
  .divider h2 {
    margin: 0; }
  .divider .arrow {
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid #707070;
    height: 0;
    left: 42%;
    position: absolute;
    width: 0; }
    @media (min-width: 768px) {
      .divider .arrow {
        left: 46%; } }
    @media (min-width: 992px) {
      .divider .arrow {
        left: 48%; } }

.featurette {
  padding: 30px 0;
  text-align: center; }
  @media (min-width: 992px) {
    .featurette {
      padding: 60px 0; } }
  .featurette .img-circle {
    background-color: #f0f0f0;
    border: 3px solid #707070;
    border-radius: 50%;
    display: inline-block;
    height: 140px;
    width: 140px; }
  .featurette p {
    font-family: "Lato-Light", Arial, sans-serif; }
  .featurette .col-centered {
    height: 220px; }
  .featurette .card {
    background-color: #e0e0e0;
    height: 100%;
    position: relative; }
  .featurette .pad {
    background-color: #fff;
    height: 100%;
    position: relative; }
    .featurette .pad img {
      height: 100%; }
  .featurette .front h4 {
    background-color: rgba(112, 112, 112, 0.8);
    bottom: 0;
    color: #f0f0f0;
    margin: 0;
    padding: 10px;
    position: absolute;
    width: 100%; }
  .featurette .back {
    padding: 10px; }
    .featurette .back h4 {
      margin: 0;
      padding: 10px; }
    .featurette .back p {
      margin-bottom: 3px; }
  .featurette .background--speakers {
    width: 100%; }
    .featurette .background--speakers img {
      display: inline-block;
      height: 100%;
      width: auto; }
  .featurette .background--pres img {
    width: 100%; }
  .featurette .card .front {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-style: 0;
    height: inherit;
    position: absolute;
    text-align: center;
    top: 0;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
            transform: rotateX(0deg) rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    z-index: 900; }
  .featurette .card.flip .front {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    z-index: 900; }
  .featurette .card .back {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    background-color: #fff;
    border-style: none;
    height: inherit;
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    top: 0;
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    width: inherit;
    z-index: 800; }
  .featurette .card.flip .back {
    -webkit-transform: rotateX(0deg) rotateY(0deg);
            transform: rotateX(0deg) rotateY(0deg);
    z-index: 1000; }

.key-information-wrapper {
  background: url("../Images/App_background.svg") no-repeat center;
  background-size: cover;
  padding: 60px 10%; }
  @media (min-width: 992px) {
    .key-information-wrapper {
      background: url("../Images/App_background.svg") no-repeat 0 top; } }
  @media (min-width: 1200px) {
    .key-information-wrapper {
      background: url("../Images/App_background.svg") no-repeat fixed; } }
  .key-information-wrapper .col-md-6 {
    text-align: center; }
    @media (min-width: 992px) {
      .key-information-wrapper .col-md-6 {
        text-align: left; } }
  .key-information-wrapper a {
    color: #eb5050; }
    .key-information-wrapper a:hover, .key-information-wrapper a:focus, .key-information-wrapper a:active {
      color: #bf1616; }

.section-wrapper {
  margin-bottom: 60px; }
  .section-wrapper .col-md-3 {
    padding-left: 0; }
  .section-wrapper img {
    border-radius: 50%;
    display: inline-block;
    height: 140px;
    width: 140px; }
  .section-wrapper h4 {
    padding-top: 10px; }

.top-tips-wrapper {
  background: url("../Images/App_background_2.svg") no-repeat center;
  background-size: cover;
  overflow: hidden;
  padding: 55px 0; }
  @media (min-width: 992px) {
    .top-tips-wrapper {
      background: url("../Images/App_background_2.svg") no-repeat fixed; } }
  .top-tips-wrapper .tile {
    background-color: rgba(240, 240, 240, 0.8);
    border: 3px solid #eb5050;
    margin: 30px 0;
    padding: 15px;
    position: relative; }
    .top-tips-wrapper .tile h4 {
      margin: 0 0 10px; }
    .top-tips-wrapper .tile a {
      display: block;
      margin-top: 20px;
      position: relative;
      width: 100%; }

.block-case-studies,
.contact--wrapper {
  background-color: #f0f0f0;
  color: #707070;
  margin-bottom: 30px;
  overflow: hidden;
  padding: 15px 0; }
  .block-case-studies .img-circle img, .contact--wrapper .img-circle img {
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    height: 140px;
    width: 140px; }
  .block-case-studies a, .contact--wrapper a {
    cursor: pointer; }
  .block-case-studies .linkedin, .contact--wrapper .linkedin {
    background: url("../Images/linkedin_icon_dark.svg") no-repeat center;
    background-size: auto 30px; }
  .block-case-studies .email, .contact--wrapper .email {
    background: url("../Images/Email_icon_dark.png") no-repeat center;
    background-size: auto 30px; }

.catagory-wrapper {
  margin-bottom: 60px;
  overflow: hidden; }

.contact--wrapper h4 {
  font-family: "Lato-Regular", sans-serif; }

.contact--wrapper .profile-buttons {
  padding-top: 10px; }

.button-primary,
.button-secondary {
  background-color: #eb5050;
  border: 0;
  border-radius: 0;
  color: #f0f0f0;
  cursor: pointer;
  font-family: "Slabo-Regular", Georgia, serif;
  outline: none;
  padding: 10px 15px;
  text-align: center; }
  .button-primary a, .button-secondary a {
    color: #f0f0f0;
    cursor: pointer;
    text-decoration: none; }
    .button-primary a:hover,
    .button-primary a :focus,
    .button-primary a :active, .button-secondary a:hover, .button-secondary a :focus, .button-secondary a :active {
      color: #f0f0f0;
      text-decoration: none; }
  .button-primary:hover,
  .button-primary :focus,
  .button-primary :active,
  .button-secondary:hover, .button-secondary :focus, .button-secondary :active {
    background-color: #bf1616;
    color: #f0f0f0;
    outline: none;
    text-decoration: none; }

.button-secondary {
  background-color: #707070;
  color: #f0f0f0; }
  .button-secondary a {
    color: #f0f0f0;
    cursor: pointer; }
  .button-secondary:hover,
  .button-secondary :focus,
  .button-secondary :active {
    background-color: #3d3d3d; }

.scrollToTop {
  background: url("../Images/Backtotop.svg") no-repeat center;
  background-size: cover;
  bottom: 20px;
  display: none;
  height: 70px;
  position: fixed;
  right: 20px;
  text-align: center;
  -webkit-transition-duration: .75s;
          transition-duration: .75s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  width: 70px;
  z-index: 1000; }
  .scrollToTop:hover,
  .scrollToTop :focus,
  .scrollToTop :active {
    background: url("../Images/Backtotop_hover.svg") no-repeat center;
    background-size: cover; }

.modal-content,
.modal-dialog,
.modal-lg {
  background-color: #e0e0e0;
  border-radius: 0; }
  .modal-content .modal-title,
  .modal-dialog .modal-title,
  .modal-lg .modal-title {
    text-align: center; }

.footer {
  background-color: #fff;
  border-top: 5px solid #eb5050;
  color: #707070;
  margin: 0;
  padding: 40px 0; }
  .footer a {
    color: #eb5050; }
    .footer a:hover, .footer a:focus, .footer a:active {
      color: #bf1616; }
  .footer .logo-wrapper {
    text-align: right; }
    .footer .logo-wrapper img {
      height: 100px; }
