
//Digital Masterclass palette
$grey: #707070;
$off-white: #f0f0f0;
$highlight: #eb5050;


//Typography

$text-color-default: $grey !default;
$text-color-inverse: $off-white !default;
$text-color-highlight: $highlight !default;

//button
$button-color-default--background: $highlight !default;
$button-color-default--color: $off-white !default;
$button-color-inverse--background: $grey !default;
$button-color-inverse--color: $button-color-default--color !default;


//Backgrounds

$background-default: #fff !default;
$background-light: rgba($off-white, .8) !default;
$background-dark: rgba($grey, .8) !default;
$background-divider: $grey !default;
$background-modal: #e0e0e0 !default;
$background-case-study: $off-white !default;

//Borders

$border--a: $grey !default;
$border--b: $highlight !default;
$border--c: $off-white !default;
