
//font-size

$base-font-size--xs: 16px;
$base-font-size--sm: $base-font-size--xs;
$base-font-size--md: 18px;
$base-font-size--lg: $base-font-size--md;

$title-font-size--xs: 28px;
$title-font-size--sm: $title-font-size--xs;
$title-font-size--md: 63px;
$title-font-size--lg: $title-font-size--md;

$subtitle-font-size--xs: 18px;
$subtitle-font-size--sm: $subtitle-font-size--xs;
$subtitle-font-size--md: 24px;
$subtitle-font-size--lg: $subtitle-font-size--md;

$section-heading-font-size--xs: 24px;
$section-heading-font-size--sm: $section-heading-font-size--xs;
$section-heading-font-size--md: $section-heading-font-size--xs;
$section-heading-font-size--lg: $section-heading-font-size--xs;

$heading-font-size--xs: 16px;
$heading-font-size--sm: $heading-font-size--xs;
$heading-font-size--md: 20px;
$heading-font-size--lg: $heading-font-size--md;

$featurette-font-size--xs: 28px;
$featurette-font-size--sm: $title-font-size--xs;
$featurette-font-size--md: 36px;
$featurette-font-size--lg: $title-font-size--md;



// Default font families

$light--font-family--lato: 'Lato-Light', Arial, sans-serif;
$regular--font-family--lato: 'Lato-Regular', sans-serif;
$bold--font-family--lato: 'Lato-Bold', Arial, sans-serif;

$regular--font-family--slabo: 'Slabo-Regular', Georgia, serif;
$bold--font-family--slabo: 'Slabo-Bold', Georgia, serif;

body {
  font-family: $regular--font-family--lato;
}

@mixin make-font-style($font-size) {
  font-size: $font-size;
}

%base-font {
  @include make-font-style($base-font-size--xs);

  @media(min-width: $screen-md-min) {
    @include make-font-style($base-font-size--md);
  }
}

%title-font {
  @include make-font-style($title-font-size--xs);
  font-family: $regular--font-family--slabo;

  @media(min-width: $screen-md-min) {
    @include make-font-style($title-font-size--md);
  }
}

%subtitle-font {
  @include make-font-style($subtitle-font-size--xs);
  font-family: $regular--font-family--slabo;

  @media(min-width: $screen-md-min) {
    @include make-font-style($subtitle-font-size--md);
  }
}

%heading-font {
  @include make-font-style($heading-font-size--xs);
  font-family: $regular--font-family--lato;

  @media(min-width: $screen-md-min) {
    @include make-font-style($heading-font-size--md);
  }
}

%caption-font {
  @extend %heading-font;
  font-family: $light--font-family--lato;
}

%featurette-font {
  @include make-font-style($featurette-font-size--xs);
  font-family: $light--font-family--lato;

  @media(min-width: $screen-md-min) {
    @include make-font-style($featurette-font-size--md);
  }
}

%section-heading-font {
  @include make-font-style($section-heading-font-size--xs);
  font-family: $regular--font-family--slabo;
}
