.button-primary,
%button-primary {
  @extend %base-font;
  background-color: $button-color-default--background;
  border: 0;
  border-radius: 0;
  color: $text-color-inverse;
  cursor: pointer;
  font-family: $regular--font-family--slabo;
  outline: none;
  padding: 10px 15px;
  text-align: center;

  a {
    color: $button-color-default--color;
    cursor: pointer;
    text-decoration: none;

    &:hover,
    :focus,
    :active {
      color: $button-color-default--color;
      text-decoration: none;
    }
  }

  &:hover,
  :focus,
  :active {
    background-color: darken($button-color-default--background, 20%);
    color: $button-color-default--color;
    outline: none;
    text-decoration: none;
  }
}

.button-secondary {
  @extend %button-primary;
  background-color: $button-color-inverse--background;
  color: $button-color-inverse--color;

  a {
    color: $button-color-inverse--color;
    cursor: pointer;
  }

  &:hover,
  :focus,
  :active {
    background-color: darken($button-color-inverse--background, 20%);
  }
}

.scrollToTop {
  background: url('../Images/Backtotop.svg') no-repeat center;
  background-size: cover;
  bottom: 20px;
  display: none;
  height: 70px;
  position: fixed;
  right: 20px;
  text-align: center;
  transition-duration: .75s;
  transition-timing-function: ease;
  width: 70px;
  z-index: 1000;

  &:hover,
  :focus,
  :active {
    background: url('../Images/Backtotop_hover.svg') no-repeat center;
    background-size: cover;
  }
}
