.block-case-studies,
%block-case-studies {
  background-color: $background-case-study;
  color: $text-color-default;
  margin-bottom: 30px;
  overflow: hidden;
  padding: 15px 0;

  .img-circle img {
    background-color: $background-default;
    border-radius: 50%;
    display: inline-block;
    height: 140px;
    width: 140px;
  }

  a {
    cursor: pointer;
  }

  .linkedin {
    background: url('../Images/linkedin_icon_dark.svg') no-repeat center;
    background-size: auto 30px;
  }

  .email {
    background: url('../Images/Email_icon_dark.png') no-repeat center;
    background-size: auto 30px;
  }
}

.catagory-wrapper {
  margin-bottom: 60px;
  overflow: hidden;
}

.contact--wrapper {
  @extend %block-case-studies;

  h4 {
    @extend %subtitle-font;
    font-family: $regular--font-family--lato;
  }

  .profile-buttons {
    padding-top: 10px;
  }
}
