.footer {
  @extend %base-font;
  background-color: $background-default;
  border-top: 5px solid $border--b;
  color: $text-color-default;
  margin: 0;
  padding: 40px 0;

  a {
    color: $text-color-highlight;

    &:hover,
    &:focus,
    &:active {
      color: darken($text-color-highlight, 20%);
    }
  }

  .logo-wrapper {
    text-align: right;

    img {
      height: 100px;
    }
  }
}
