//landing section styling
.vidcontain {
  background: url('../Images/poster.jpg') no-repeat center;
  background-size: cover;
  margin-top: -1px;

  .vid {
    display: none;
    overflow: hidden;

    @media(min-width: $screen-lg-min) {
      display: block;
    }
  }

  #home-intro-video {
    transform: scale(1.5);
  }

  .header-wrapper {
    padding-top: 60px;
    position: relative;
    top: 0;

    h1 {
      @extend %title-font;
      display: inline-block;
      margin: 0;
      padding: 15px 10px;
    }

    @media(min-width: $screen-lg-min) {
      position: absolute;
      width: 80%;
    }
  }

  .digital {
    background-color: $background-dark;
    color: $text-color-inverse;
    display: inline-block;
  }

  .masterclass {
    background-color: $background-light;
    color: $text-color-default;
    display: inline-block;
    margin-left: -3px;
  }

  .caption {
    @extend %caption-font;
    color: $text-color-inverse;
    margin-bottom: 36px;
    padding-top: 10px;

    @media(min-width: $screen-lg-min) {
      padding: 10px 0;
      width: 550px;
    }
  }

  .intro {
    color: $text-color-inverse;
    margin-bottom: 30px;

    h3 {
      @extend %subtitle-font;
    }
  }

  .sections-wrapper {
    background-color: $background-dark;
    bottom: 0;
    color: $text-color-inverse;
    overflow: hidden;
    padding: 30px 0;
    position: relative;
    width: 100%;

    @media(min-width: $screen-sm-min) {
      padding: 30px 0 0;
    }

    @media(min-width: $screen-md-min) {
      padding: 30px 0;
    }

    @media(min-width: $screen-lg-min) {
      padding: 30px 0;
      position: absolute;
    }
  }

  .homepage-sections {
    border-bottom: 1px solid $border--c;
    padding: 30px 0;

    .section-title {
      @extend %heading-font;
      margin-bottom: 20px;
    }

    .description {
      @extend %base-font;
      font-family: $light--font-family--lato;
      margin-bottom: 20px;
    }

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      border-bottom: 0;
    }

    @media(min-width: $screen-sm-min) {
      border-bottom: 0;
      padding: 0 30px 30px;
    }

    @media(min-width: $screen-md-min) {
      border-bottom: 0;
      border-left: 1px solid $border--c;
      padding: 0 30px;

      &:first-child {
        border-left: 0;
        padding-left: 0;
      }
    }
  }
}

//section divider styling
.divider {
  @extend %subtitle-font;
  background-color: $background-divider;
  color: $text-color-inverse;
  padding: 10px;
  text-align: center;
  z-index: 2;

  h2 {
    margin: 0;
  }

  .arrow {
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid $background-divider;
    height: 0;
    left: 42%;
    position: absolute;
    width: 0;

    @media(min-width: $screen-sm-min) {
      left: 46%;
    }

    @media(min-width: $screen-md-min) {
      left: 48%;
    }
  }
}

//featurette section styling
.featurette {
  padding: 30px 0;
  text-align: center;

  @media(min-width: $screen-md-min) {
    padding: 60px 0;
  }

  .img-circle {
    background-color: $off-white;
    border: 3px solid $grey;
    border-radius: 50%;
    display: inline-block;
    height: 140px;
    width: 140px;
  }

  h2 {
    @extend %featurette-font;
  }

  p {
    @extend %base-font;
    font-family: $light--font-family--lato;
  }

  .col-centered {
    height: 220px;
  }

  .card {
    background-color: $background-modal;
    height: 100%;
    position: relative;
  }

  .pad {
    background-color: $background-default;
    height: 100%;
    position: relative;

    img {
      height: 100%;
    }
  }

  .front {
    h4 {
      @extend %heading-font;
      background-color: $background-dark;
      bottom: 0;
      color: $text-color-inverse;
      margin: 0;
      padding: 10px;
      position: absolute;
      width: 100%;
    }
  }

  .back {
    @extend %base-font;
    padding: 10px;

    h4 {
      @extend %heading-font;
      margin: 0;
      padding: 10px;
    }

    p {
      margin-bottom: 3px;
    }
  }

  //specific overrides

  .background--speakers {
    width: 100%;

    img {
      display: inline-block;
      height: 100%;
      width: auto;
    }
  }

  .background--pres {
    img {
      width: 100%;
    }
  }

  //flip
  // -- make sure to declare a default for every property that you want animated
  // -- general styles, including Y axis rotation
  .card .front {
    backface-visibility: hidden;
    border-style: 0;
    height: inherit;
    position: absolute;
    text-align: center;
    top: 0;
    transform: rotateX(0deg) rotateY(0deg);
    transform-style: preserve-3d;
    transition: all .4s ease-in-out;
    z-index: 900;
  }

  .card.flip .front {
    transform: rotateY(180deg);
    z-index: 900;
  }

  .card .back {
    backface-visibility: hidden;
    background-color: $background-default;
    border-style: none;
    height: inherit;
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    top: 0;
    transform: rotateY(-180deg);
    transform-style: preserve-3d;
    transition: all .4s ease-in-out;
    width: inherit;
    z-index: 800;
  }

  .card.flip .back {
    transform: rotateX(0deg) rotateY(0deg);
    z-index: 1000;
  }
}

//key information section
.key-information-wrapper {
  background: url('../Images/App_background.svg') no-repeat center;
  background-size: cover;
  padding: 60px 10%;

  @media(min-width: $screen-md-min) {
    background: url('../Images/App_background.svg') no-repeat 0 top;
  }

  @media(min-width: $screen-lg-min) {
    background: url('../Images/App_background.svg') no-repeat fixed;
  }

  .col-md-6 {
    text-align: center;

    @media(min-width: $screen-md-min) {
      text-align: left;
    }
  }

  a {
    color: $text-color-highlight;

    &:hover,
    &:focus,
    &:active {
      color: darken($text-color-highlight, 20%);
    }
  }
}

.section-wrapper {
  margin-bottom: 60px;

  .col-md-3 {
    padding-left: 0;
  }

  img {
    border-radius: 50%;
    display: inline-block;
    height: 140px;
    width: 140px;
  }

  h4 {
    @extend %section-heading-font;
    padding-top: 10px;
  }

  p {
    @extend %base-font;
  }
}

.top-tips-wrapper {
  background: url('../Images/App_background_2.svg') no-repeat center;
  background-size: cover;
  overflow: hidden;
  padding: 55px 0;

  @media(min-width: $screen-md-min) {
    background: url('../Images/App_background_2.svg') no-repeat fixed;
  }

  .tile {
    background-color: $background-light;
    border: 3px solid $border--b;
    margin: 30px 0;
    padding: 15px;
    position: relative;

    h4 {
      @extend %heading-font;
      margin: 0 0 10px;
    }

    a {
      display: block;
      margin-top: 20px;
      position: relative;
      width: 100%;
    }
  }
}
