.navbar {
  background-color: $background-default;
  border: 0;
  border-bottom: 5px solid $border--b;
  border-radius: 0;
  height: 75px;
  margin-bottom: 0;

  .logo {
    margin: 0;
    padding: 15px 0;

    img {
      height: 40px;
    }
  }
}

.navbar--links {
  margin-top: 10px;

  .nav > li > a {
    color: $text-color-default;

    &:hover,
    &:focus,
    &:active {
      background-color: $background-default;
      color: $text-color-highlight;
      outline: none;
    }
  }

  .nav > .disabled > a {
    color: $text-color-inverse;

    &:hover,
    &:focus,
    &:active {
      color: $text-color-inverse;
    }
  }
}
